<div
  class="row clearfix"
  style="
    max-width: 1460px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: none;
    order: -1;
    display: grid;
    padding-top: 20px;
  "
>
  <div class="column full">
    <div>
      <h1
        style="
          text-transform: uppercase;
          text-align: center;
          font-weight: 500;
          line-height: 1.4;
          font-size: 2rem;
        "
      >
        ${page_title}
      </h1>
    </div>
  </div>
</div>
<div class="category-banner">${content}</div>
