<!-- Do not include style tag, for development only -->
<style>
  .category-banner {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #f4f7f7;
    border: none;
    overflow-x: auto;
    padding: 30px;
  }

  .category-banner .category-item {
    width: 100%;
    max-width: 11rem;
  }

  .category-banner .category-item .category-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    background: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  }

  .category-banner .category-item .category-content img {
    max-height: 5rem;
    min-height: 5rem;
    margin: auto;
    display: block;
    padding: 1rem;
    object-fit: contain;
  }

  .category-banner .category-item .category-content span {
    color: black;
    padding: 1rem;
    text-align: center;
  }
</style>
